/* MovieCard.module.css */

/* General container */
.container {
  padding: 3rem;
  background: linear-gradient(45deg, #2a2a2a, #121212);
  color: #fff;
  min-height: 100vh;
  font-family: var(--font-family);
  text-align: center;
}

/* Heading */
.heading {
  font-size: 3rem;
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Genre filter */
.filter {
  margin-bottom: 2rem;
}

.genreSelect {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  width: 220px;
}

.genreSelect:hover {
  background-color: #d32f2f;
  transition: background-color var(--transition-duration);
}

/* Grid for movie cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  gap: 2rem;
  padding: 2rem;
  background-color: #2a2a2a;
  min-height: 100vh;
}

/* Styling individual movie cards */
.card {
  background: #1c1c1c;
  border-radius: var(--border-radius);
  padding: 1.5rem;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--card-width);
  height: var(--card-height);
  overflow: hidden;
  text-decoration: none;
}

.card:hover {
  background: linear-gradient(135deg, #b71c1c, #d32f2f);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

/* Card content (text and title) */
.cardContent {
  padding: 10px;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  margin-top: 1rem;
}

.cardText {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #ccc;
}

.cardText:first-of-type {
  margin-top: 0;
}

/* Card hover effects */
.card:hover .cardTitle {
  color: #fff;
}

.card:hover .cardText {
  color: #fff;
}

/* Dynamic background gradients for each card */
.card:nth-child(odd) {
  background: linear-gradient(135deg, #b71c1c, #d32f2f);
}

.card:nth-child(even) {
  background: linear-gradient(135deg, #c62828, #e57373);
}

.card:nth-child(3n) {
  background: linear-gradient(135deg, #b71c1c, #8e0000);
}

.card:nth-child(4n) {
  background: linear-gradient(135deg, #d32f2f, #b71c1c);
}

.card:nth-child(5n) {
  background: linear-gradient(135deg, #c62828, #e57373);
}
